Source: periodicprinterpkg
Section: unknown
Maintainer: Muzammil Abdul Rehman <example.email@foo.com>
Build-Depends: debhelper (>=10), dh-systemd, dh-sysuser
Standards-Version: 4.0.0
Homepage: github.com/muzammilar

Package: periodicprinterpkg
Architecture: Any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Periodic Printer
  Periodic Printer is an example application that prints build time of application every few seconds.
