[Unit]
Description=Periodic Printer is an example application that prints build time of application every few seconds.
ConditionPathExists=/usr/bin/periodicprinter
# make sure we have network connectivity
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# user and group
User=pprintuser
Group=pprintuser
ExecStart=/usr/bin/periodicprinter
# restart service on failures
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
