#!/usr/bin/make -f

ifndef PERIODIC_PRINTER
$(error PERIODIC_PRINTER not defined)
endif

ifndef PKG_NAME
$(error PKG_NAME not defined)
endif

# use verbose logging to easily debug builds
DH_VERBOSE = 1

# use dh-systemd for creating a systemd service and dh-sysuser for creating a user (when package is installed)
%:
	dh $@ --with sysuser

# install systemd service file. Use a different name from the package itself
override_dh_installsystemd:
	dh_systemd_enable --name=${PERIODIC_PRINTER}

# add logrotate support to the package
override_dh_installlogrotate:
	dh_installlogrotate --name=${PERIODIC_PRINTER}

# save the debian in `dist` directory instead of `..`
override_dh_builddeb:
	dh_builddeb --destdir=dist/ --filename=${PKG_NAME}
